/**
 * @name Dark Matter
 * @author Tropical#8908, Hammock#3110
 * @version 3.0.0
 * @description A cold, dark & frosty theme.
 * @source https://github.com/DiscordStyles/DarkMatter/
*/

@import url('https://DiscordStyles.github.io/DarkMatter/src/base.css');

/* Variables */
:root {
    --avatar-size: 32px;
    --background-image: url('https://wallpapers.com/images/high/black-anime-aesthetic-pc-o7uwpl9sspdr3nau.webp');
    --home-image: url('https://i.pinimg.com/originals/64/04/4d/64044d17f390f8c2042ce6cdc7f0be0d.gif');
    --accent: 37, 172, 232;
    --accent-alt: 29, 101, 134;
}
